doctype html
-
  var og = {
    title: "Voronoi.js",
    twitter: {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"},
    domain: "zbryikt.github.io",
    url: "http://zbryikt.github.io/voronoijs/",
    thumbnail: {
      width: 1200, height: 630, type: "image/png",
      url: "http://zbryikt.github.io/voronoijs/img/thumbnail.png"
    },
    author: "zbryikt",
    section: "Taiwan",
    keyword: "zbryikt,voronoi",
    description: "Voronoi Treemap Generator in JavaScript"
  }
html(lang="en")
  include @/@loadingio/bootstrap.ext/index.pug
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= og.title
    meta(property="og:locale",content="zh_TW")
    meta(property="og:image",content=thumbnail)
    meta(property="og:image:type",content="image/png")
    meta(property="og:image:width",content=og.thumbnail.width)
    meta(property="og:image:height",content=og.thumbnail.height)
    meta(name="twitter:card",content=og.twitter.type)
    meta(name="twitter:site",content=og.twitter.site)
    meta(name="twitter:domain",content=og.domain)
    meta(name="twitter:url",content=og.url)
    meta(name="twitter:creator",content=og.twitter.creator)
    meta(name="twitter:title",content=og.title)
    meta(name="twitter:description",content=og.description)
    meta(name="twitter:image:src",content=og.thumbnail.url)
    meta(property="og:title",content=og.title)
    meta(property="og:type",content="article")
    meta(property="og:url",content=og.url)
    meta(property="og:image",content=og.thumbnail.url)
    meta(property="og:description",content=og.description)
    meta(property="og:article:author",content=og.author)
    meta(property="og:article:section",content=og.section)
    meta(name="keywords",content=og.keyword)
    +css('https://fonts.googleapis.com/css?family=Lato:300,700')
    +css("/assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("css/index.css")
  body
    #root
      h1.text-center Voronoi.js
      .text-center a simple, fast and open sourced implementation of Voronoi treemap on web.
      br
      .w-640.mx-auto.rwd
        #demonstration.aspect-ratio(style="padding-top:66%"): .w-100.h-100
          svg#svg(width="100%",height="100%",preserveAspectRatio="xMidYMid")
      br
      .text-center: a(href="http://github.com/zbryikt/voronoijs",target="_blank") check it out on Github
      hr
      #usage
        h2 Usage
        br
        p First, include #[code: a(href="http://zbryikt.github.io/voronoijs/dist/voronoi.min.js") voronoi.min.js]:
        pre.well.
          &#60;script type="text/javascript" src="voronoi.min.js&#62;&#60;/script&#62;

        p initialization: 
        pre.well.
          var width = 800, height = 600;
          var data = {
            children: [
              {children: [ {value: 100}, {value: 200}, {value: 300} ]},
              {children: [ {value: 100}, {value: 500}, {value: 900} ]}
            ]
          };
          var clip = Voronoi.Polygon.create(width, height, 20);
          var treemap = new Voronoi.Treemap(data, clip, width, height);

        p update and render:
        pre.well.
          setInterval(function() {
            treemap.compute();
            render();
          }, 100);

        p Sample renderer with d3.js:
        pre.well.
          /* render polygons */
          d3.selectAll("path").data(treemap.getPolygons())
          .enter().append("path").attr({
            d: function(it) { ... }
          });

          /* render centroid of polygons */
          d3.selectAll("circle").data(treemap.getSites())
          .enter().append("circle").attr({
            cx: function(it) { return it.x; },
            cy: function(it) { return it.y; },
            r: function(it) { return Math.sqrt(it.value); }
          });
        h3 Sites
        p You can use these generated attributes in your data to determine how to render:
        ul
          li #[code x]: x coordinate
          li #[code y]: y coordinate
          li #[code lv]: depth of node in treemap
        h3 Polygons
        p Polygon is a point array. For example, a triangle:
        pre.well.
          [{x: 0, y: 0}, {x: 100, y: 100}, {x: 200, y: 0}]
        p Use Voronoi.Polygon.create to quickly generate a N side regular polygon:
        pre.well.
          var clipPolygon = Voronoi.Polygon.create(width, height, N);
        p and use it in Voronoi treemap to indicate the clipping region of the whole treemap:
        pre.well.
          var voronoi = new Voronoi.Treemap(data, clipPolygon, width, height);
        br
        hr
        h2 Note
        p This library is implemented base on this publication:
        blockquote
          p Arlind Nocaj and Ulrik Brandes, "Computing Voronoi TreemapsFaster, Simpler, and Resolution-independent", Eurographics Conference on Visualization (EuroVis) 2012

        br
        hr
        h2 Author
        p Kirby T. Wu ( follow on #[a(href="http://twitter.com/zbryikt") twitter] )
        br
        hr
        h2 License
        p voronoi.js is released under #[a(href="https://raw.githubusercontent.com/zbryikt/voronoijs/master/LICENSE",target="_blank") MIT License].
        br
        br
        hr
        #footer.text-right
          a(href="http://github.com/zbryikt/voronoijs") Github
          a(href="http://twitter.com/zbryikt") #zbryikt
          a(href="http://zbryikt.github.io/visualize") Vis Projects
        br
        br
    +script("assets/lib/@zbryikt/voronoijs/dev/index.min.js")
    +script("https://d3js.org/d3.v3.js")
    +script("js/index.js")
